.p1{
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmcM2UzR0xA7I7bPnUqBdPTl663Opbu5gIUiU1RxrFcthCCBhjYztiUP0&s=10");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
    }